$main-color: black;
$color-base: #fff;
$color-grey: rgba(100, 98, 98, 0.4);
$header-size: 35px;
$header-top: 30px;
$header-button: 30px;
$button-width: 200px;
$button-height: 60px;
$input-width: 700px;
$input-height: 50px;
$p-size: 30px;
$p-top: 20px;
$p-button: 20px;
$btn-width: 100px;
$btn-height: 40px;
$btn-size: 15px;